<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-09-MVC:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_09_MVC_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring-09-MVC/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-09-MVC" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Java EE 6-Java EE 6" />
          <element id="library" level="project" name="Maven: javax.annotation:javax.annotation-api:1.3.2" />
          <element id="library" level="project" name="Maven: org.apiguardian:apiguardian-api:1.1.0" />
          <element id="library" level="project" name="Maven: org.junit.jupiter:junit-jupiter-api:5.5.2" />
          <element id="library" level="project" name="Maven: org.junit.jupiter:junit-jupiter-engine:5.4.2" />
          <element id="library" level="project" name="Maven: org.junit.jupiter:junit-jupiter-params:5.4.2" />
          <element id="library" level="project" name="Maven: org.junit.jupiter:junit-jupiter:5.4.2" />
          <element id="library" level="project" name="Maven: org.junit.platform:junit-platform-commons:1.5.2" />
          <element id="library" level="project" name="Maven: org.junit.platform:junit-platform-engine:1.4.2" />
          <element id="library" level="project" name="Maven: org.opentest4j:opentest4j:1.2.0" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.2.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.2.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.2.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.2.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.2.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.2.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.2.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.2.4.RELEASE" />
          <element id="library" level="application" name="servlet-api" />
        </element>
      </element>
    </root>
  </artifact>
</component>